body{
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial,Helvetica,sans-serif;
  padding: 0px;
  margin: 0px;
}
.nav{
  background-color: cadetblue;
  color: white;
}
/*Unordered list has its own padding */
.nav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: 0px;/*This is used to get rid of spacing issue when going to
  desktop version with the list, there was a small gap and this fixes it */
}
/*this selects the nav class with the Unordered list with the list items */
.nav ul li{
  padding: 16px;
  text-align: center;
  font-size: 1.2rem;/*1.2 * 16 px, the start of the body is 16. so make it
  1.2 times bigger */
  border-bottom: 1px solid black;
  transition: background-color 0.2s;

}
/*above,we made the trasition animation
and below, we made the trasition itsself with the :hover */
.nav ul li:hover{
  background-color: black;
}
.image-area{
  background-image:url('source code files/03-project lessons/03-cover image/images/background.png');
  background-color: black;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;

}
.centered-container{
  max-width: 1020px;
  margin:0px auto;
  padding:0px 16px;

}
.image-text{
  background-color: black;
  text-align:center;
  color:white;
  font-size: 2.5rem;
}
.intro-text{
  color: gray;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.single-service{
  text-align: center;
  margin-bottom: 32px;
}
.single-service p{
  padding-left: 0px 16px;
}
/*Starting to make webpages react towhat device its being shown on
 :within this media screen you can set rules that will only
 happen when certain conditions are met, IE the screen is over 700px*/
 @media screen and (min-width: 700px) {
  .nav ul{
    text-align: right;
  }
  .nav ul li{
    display: inline-block;
    border-bottom: 0px;
    border-left: 1px solid black;
    text-align: left;
  }
  .single-service{
    width: 50%;
    float:left;/* Makes the pictures in this case align to the left
    of each other and each take 50% space */
  }


 }
